body {
    font-family: 'Times New Roman', Times, serif;
}

.outer-box {
    width: 30%;
    margin: 10% ;
    padding: 3rem;
}

.outer-box,
.label,
input[type=text],
select,
button {
    border: 2px solid #658baf;
}

.label {
    display: inline-block;
    width: 20%;
    padding: 7px;
    margin-bottom: 4%;
    margin-right: 20px;
    background-color:
        #5b9bd5;
    color: white;
    text-align: center;
}

.fullname,
.department {
    padding: 7px 0 7px 0;
}

.fullname {
}

.radio {
    border: 2px solid #658baf;
}

button {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    width: 30%;
    padding: 10px;
    background-color: #70ad47;
    border-radius: 6px;
    margin: 1% auto 0 auto;
    cursor: pointer;
}

.btn {
    text-align: center;
}

